@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

body {

    background-image: url('https://data.whicdn.com/images/272210897/original.gif');
    background-size: cover;
}

#header {

    width: 900px;
    margin-top: 20px;
    background-color: #0f99bb;

}

#p {

    background-color: #7f5adb;
    width: 500px;
    height: 150px;
    border: 5px #d5c9f2;
    margin-top: 20px;

}

#p2 {

    background-color: white;
    padding: 20px;
    font-family: 'Hind', sans-serif;

}

#texto {

    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 7ch;

}

#blanco {

    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
