body {

    background-image: url('https://i.pinimg.com/originals/75/1e/94/751e94cb7c42b58d75e3779111a65486.gif');
    background-size: cover;
}

.p {

    background-color: #7f5adb;
    margin: #d5c9f2;

}